<header class='header'>
  <a class='logo-link' href='/'>
    <span class='logo'><img src='/static/img/logo.svg' alt='Logo' /></span>
    <p class='logo-text'>Cloudy</p>
  </a>

  <div class='auth-links'>
    <a href='/login' class='button'>Login</a>
    <a href='/sign-up' class='button'>Sign up</a>
  </div>
</header>