<div class='mx-auto max-w-4xl py-32 sm:py-48 lg:py-56'>
  <div class='text-center'>
    <h1
      class='text-5xl font-semibold tracking-tight text-transparent sm:text-7xl bg-gradient-to-br from-neutral-800 to-neutral-500 bg-clip-text'
    >
      Cloudy - Creative, Flexible, Safe, Accessible.
    </h1>

  </div>
</div>